.container {
    width: 100%;
    height: 100%;
    color: black;
    object-fit: cover;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 20px;
}

  body {
    background-color: darkcyan;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.item{
    padding: 20px;
   
}

.item--2 {
    text-align: center;
    padding-top: 200px;
}


.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.item--6 {
    max-width:100%;
    max-height:100%;
  }

.item--8 {
    text-align: center;
  }

.pHeader {
    text-align: center;
}

.item--4 {
    max-width:100%;
    max-height:100%;
    padding: 20px;
    align-items: center;
    
}

img {
    max-width:100%;
    max-height:100%;
    display: inline-block;
}

.navbar {
    text-align: center;
    padding-left: 80px;
}

.GitHub {
    display: block;
}

li {
    padding: 10px;
}

.item--1, .item--4, .item--7 {
    background-color: darkgray;
}

.item--3, .item--6, .item--9 {
    background-color: darkgray;
}

.item--9 {
    text-align: center;
}

.item--7 {
    text-align: center;
}

.navbar {
    padding-top: 50px;
    padding-left: 40%;
}

a:hover {
    color: darkblue;
}